* {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
  margin-left: 30%;
  margin-top: 50px;
}


.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 100px;
  height: 100px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 200px;
  height: 200px;
  margin-left :19%;
  
}

.map {
  position: relative;
}