.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}



html,body{
    height: 100%;
}


.bg-mobile {
  
  background-image: url("../Resources/MobileBack.jpg");
  background-attachment: fixed;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}

